# Python Programming 
📅 **Date:** 21-07-2025  
📍 **Day:** 6  
📘 **Topic:** Data Structures Part 1 (Lists and Tuple)
---

### 1. Write a Python program to create a list of 5 integers and print the list.

In [1]:
list = [8,12,24,26,20]
print(list)

[8, 12, 24, 26, 20]

### 2. Write a Python function that takes a list of numbers and returns the maximum value.

In [2]:
def max(number_list):
    max = 0
    for number in number_list:
        if number > max: 
            max = number
    print(max)

numbers = [54,76,89,9,6,8,34,65]

max(numbers)

89

### 3. Create a list of fruits and print the second and last elements.

In [3]:
fruits = ['apple', 'banana', 'peach', 'mango']
print(fruits[1])
print(fruits[-1])

banana
mango

### 4. Write a program to remove all duplicates from a list.

In [5]:
list = ['a','b','b','c','c','d','d','a']

unique_list = []
for letter in list:
    if letter not in unique_list:
        unique_list.append(letter)
print(unique_list)

['a', 'b', 'c', 'd']

### 5. Write a Python program to find the sum and average of elements in a list.

In [8]:
number_list = [7,8,9,9,8,7]
sum = 0
for num in number_list:
    sum +=num
average = sum / len(number_list)
print(sum)
print(average)

48
8.0

### 6. Given a list of numbers, write a program to square each number and store the result in a new list.

In [9]:
number_list = [2,4,6,8,10]
square_list = []
for num in number_list:
    square_list.append(num**2)
print(square_list)

[4, 16, 36, 64, 100]

### 7. Write a program to reverse a list without using built-in reverse() function.

In [18]:
alphabet_list = ['a','b','c','d','e']
reversed_list =[]
for alphabet in range(len(alphabet_list)-1,-1,-1):
    reversed_list.append(alphabet_list[alphabet])
print(reversed_list)

['e', 'd', 'c', 'b', 'a']

### 8. Check whether a specific item exists in a list or not.

In [33]:
fruits = ['banana', 'apple', 'peach']
item = input("Check fruit : ")
if item not in fruits: 
    print("Not Available")
else:
    print("Available")

Check fruit : banana
Available

### 9. Create a tuple with 6 elements. Print the first, third, and last element.

In [36]:
tup = ('1st','2nd','3rd','4th','5th','last')
print(tup[0])
print(tup[2])
print(tup[len(tup)-1])

1st
3rd
last

### 10. Write a Python program to convert a list into a tuple.

In [38]:
list = [1,2,3,4,5,6]
tup = tuple(list)
type(tup)

tuple

### 11. Write a program to count how many times an item appears in a tuple.

In [40]:
tup = (2,4,2,4,3,5,3,5)
count = 0
item = int(input("Enter item to see : "))
if item in tup:
    count = tup.count(item)
print(count)

Enter item to see : 5
2

### 12. Given a tuple of numbers, write a program to find the minimum and maximum values.

In [41]:
tup = (2,12,65,89,100,78,98)
max = 0
for num in tup:
    if num > max:
        max = num
        
print(max)

100

### 13. Create a tuple of student names. Try modifying one element and observe the error.

In [45]:
student_name =('Ahmad', 'Sultan', 'Qasim')
# i want to change the name ahmad to Ahmed
student_name[0] = 'Ahmed'

# TypeError: 'tuple' object does not support item assignment
# this is because, tuples are immutable object, means it cannot be change

TypeError: 'tuple' object does not support item assignment

### 14. Write a program that merges two lists into one and removes duplicates.

In [55]:
list1 = [1,2,3]
list2 = [1,2,3,4,5]

Merge = list1 + list2

# Remove duplicates using set, then convert back to list
unique_list = set(Merge)

print(unique_list)

{1, 2, 3, 4, 5}

### 15. Given a list of numbers, write a program to find the second largest number.

In [58]:
numbers = [10, 25, 3, 89, 42, 89]
numbers.sort(reverse=True)
numbers[1]

89