# Python Programming 
üìÖ **Date:** 21-07-2025  
üìç **Day:** 7 

üìò **Topic:** Data Structures Part 2 (Set and Dictionary)
---

### 1. Create a set from this list: [1, 2, 2, 3, 4, 4, 5]. Print the set.

In [1]:
list = [1,2,2,3,4,4,5]
set = set(list) # converting into set will remove duplicates 
print(set)

{1, 2, 3, 4, 5}

### 2. Create a dictionary with your name, age, and city. Print the dictionary.

In [5]:
person = {'name':'Fazal', 'age': 25, 'city':'Swat'}
print(person)

{'name': 'Fazal', 'age': 25, 'city': 'Swat'}

### 3. Use a string method to convert the string 'hello world' to uppercase.

In [6]:
str = "hello world"
str.upper()

'HELLO WORLD'

### 4. Find the length of the string 'Python Programming'.

In [7]:
str = 'Python Programming'
len(str)

18

### 5. Check if the word 'apple' is in the set {'banana', 'apple', 'orange'}.

In [9]:
fruit ={'banana', 'apple', 'orange'}
if 'apple' in fruit:
    print("Yes the is apple in the set")

Yes the is apple in the set

### 6. Print all keys from the dictionary: {'name': 'Ali', 'age': 25, 'city': 'Lahore'}.

In [12]:
person = {'name': 'Ali', 'age': 25, 'city': 'Lahore'}

print(person.keys())

dict_keys(['name', 'age', 'city'])

### 7. Use string method to count how many times 'a' appears in 'banana'.

In [14]:
'Banana'.count('a')

3

### 8. Add an item to this set: {'red', 'green'}. Add 'blue'.

In [16]:
color = {'red', 'green'}
color.add('blue')
print(color)

{'blue', 'green', 'red'}

### 9. Change the value of 'age' in the dictionary {'name': 'Sara', 'age': 22} to 23.

In [18]:
person = {'name': 'Sara', 'age': 22}
person['age'] = 23

print(person)

{'name': 'Sara', 'age': 23}

### 10. Remove the word 'cat' from the set {'cat', 'dog', 'mouse'}.

In [19]:
animal = {'cat', 'dog', 'mouse'}
animal.remove('cat')
print(animal)

{'mouse', 'dog'}

### 11. Split the string 'apple, banana, orange' into a list using string method.

In [22]:
fruit_string = 'apple, banana, orange'
fruit_list = fruit_string.split(', ')
print(fruit_list)

['apple', 'banana', 'orange']

### 12. Check if key 'city' exists in the dictionary {'name': 'Ali', 'city': 'Karachi'}.

In [23]:
person ={'name': 'Ali', 'city': 'Karachi'}

if 'city' in person:
    print("Yes, Present in the dictionary")

Yes, Present in the dictionary

### 13. Join the list ['Python', 'is', 'fun'] into a single string.

In [24]:
words = ['Python', 'is', 'fun']
sentence = ' '.join(words) #Take each word in the list and join them together with a space ' ' between each.
print(sentence)

Python is fun

### 14. Clear all items from the dictionary {'a': 1, 'b': 2}.

In [27]:
dict = {'a': 1, 'b': 2}
dict.clear()
print(dict)

{}

### 15. Use a string method to replace 'world' with 'Python' in the string 'hello world'.

In [32]:
greeting = 'hello world'
new_greeting = greeting.replace('world', 'Python')
print(new_greeting)

hello Python